.planodefundo {
  background-color: rgba(209, 209, 209, 0.493);
}

.carousel-inner {
  height: 70vh;
}

#heroDestino {
  background: url(img/onçapintada.jpg);
  background-size: 90rem 25rem;
  background-position-x: center;
  background-repeat: no-repeat;
}

#escolhadest {
  width: 30%;
  margin-left: 35%;
}

#imgonça {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container-fluid {
  width: 100%;
}

.pagamentos {
  text-align: center;
}

.card {
  display: inline-block;
  align-content: center;
  margin: 5%;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

.list-group-item {
  text-align: justify;
}

#btt {
  float: right;
  align-items: center;
}

.preço {
  font-size: xx-large;
  color: green;
}
