* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-transform: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
/* Inicio da Estilização de header - menu de navegação*/
nav {
  display: flex; /* coloca a logo e a lista um do lado do outro*/
  justify-content: space-around;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  background: white;
  height: 8vh;
}

.nav-list {
  list-style: none; /* para que os bullts saiam da lista no menu de navegação*/
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px; /* Para afastar um item da lista de menu um do outro*/
}

header {
  grid-column: 1/3; /* Forma simplificada para dizer que o meu header inicia na linha 1 e termina na linha 3, e assim ele ocupará 100% do width*/
  grid-area: header;
  height: 8vh;
}

.mobile-menu {
  cursor: pointer;
  display: none; /* Esconde o menu hamburguer, usado quando se quer mostar apenas em telas menores*/
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: rgb(1, 112, 20);
  margin: 8px;
}
/* Fim da Estilização de header - menu de navegação*/

/* Inicio da Estilização da Main*/

main {
  grid-column-start: 1; /*Para dizer que o meu main inicia na linha 1*/
  grid-column-end: 3; /*Para dizer que o meu main termina na linha virtual 2*/
  grid-area: main;
  height: 100vh; /*Define o valor  "viewport height", visualização do navegador*/
  width: 100%;
  background-image: url(img/onçapintada.jpg);
  background-repeat: no-repeat;
  background-size: cover; /*Para manter fixa a imagem do tigre independente de zoom*/
  background-position-x: center;
  background-position-y: center;
}

.welcome {
  background: white; /* Define a cor do background da div welcome*/
  text-align: justify; /* O a formatação do texto fica justificada*/
  width: 30%; /* Define a largura como 35%*/
  border-radius: 5%; /* Define uma borda circular do background*/
  padding: 1%; /* ajusta o conteudo de texto internamente dando um espaço até a borda*/
  margin-left: 10px; /* define uma margem a esquerda de 10px*/
  margin-top: 300px; /* define uma margem do topo de 340px*/
  display: inline-block;
}

/* Fim da Estilização da Main*/

/* Inicio da Estilização de aside*/
aside {
  background: rgb(255, 255, 255); /*Para definir a cor do background*/
  grid-column-start: 2; /*Para dizer que o meu aside inicia na linha 2*/
  grid-column-end: 3; /*Para dizer que o meu aside termina na linha virtual 3*/
  grid-area: aside;
  height: 250vh; /*Para dizer a altura que tera a parte do aside*/
  padding: 25px; /*Para definir uma margem entre main e a palavra Destinos*/
}

/*Inicio da Formatação dos Cards*/
.estilocard {
  width: 25%; /*Defini largura de 25%*/
  border: 2%; /*Defini a borda normal de 2%*/
  height: 90vh; /*Defini a altura*/
  background-color: rgbargb(255, 255, 255); /*Defini a cor o plano de fundo*/
  display: inline-block; /*Defini que todos os cards devem ficar alinhados em uma linha*/
  padding: 25px;
  margin-top: 3%; /*Defini uma margem entre destinos e o inicio do card*/
  margin-bottom: 3%; /*Defini uma margem entre o fnal do card e o titulo Promoções*/
  margin-right: 4%; /*Defini uma margem de 4% a direita para dar espaçamento entre os cards*/
  margin-left: 4%; /*Defini uma margem de 4% a esquerda para dar espaçamento entre os cards*/
  border-top-right-radius: 15%; /*Defini a borda lateral direita curvada*/
  text-align: justify; /*Defini que o texto será justificado*/
  border-style: groove; /*Defini que o estilo da borda é groove, grosso*/
  border-color: black; /*Defini a cor da borda*/
  border-top-color: rgb(0, 228, 19); /*Defini a cor da borda superior é verde*/
  border-right-color: rgb(0, 230, 0); /*Defini a cor da borda direita é verde*/
  border-left-style: dashed; /*Defini que o estilo da borda esquerda é traçado*/
}
/*Fim da Formatação dos Cards*/

/*Inicio da Formatação das imagens dos Cards*/
.card-image {
  width: 270px; /*Defino a largura da imagem do card*/
  height: 200px; /*Defino a altura da imagem do card*/
  object-fit: cover; /*Defino um tanho fixo para essa imagem, se eu tirar essa estilização a imagem fica no tamanho normal*/
  border-radius: 5%; /*Defino bordas circulares nas imagens*/
  padding-bottom: 2%; /*Defino um espaçamento interno na imagem*/
  margin-bottom: 2%; /*Defino um espaçamento entre a imagem e o nome da cidade*/
}
/*Fim da Formatação das imagens dos Cards*/

/*Inicio da Formatação da ultima linha, coluna que criei para valores e botão saiba mais*/
.container {
  column-count: 2;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}
/*Fim da Formatação da ultima linha, coluna que criei para valores e botão saiba mais*/

/*Inicio da Formatação dos valores dos Cards*/
#card-valor {
  width: 140px; /*Defino a largura da imagem do card*/
  height: 60px; /*Defino a altura da imagem do card*/
  background-color: rgb(255, 255, 255); /*Defino a cor de fundo do valor*/
  padding: 8px 8px 8px 8px; /*Defino o espaço interno para centralizar o valor*/
  border-radius: 10px; /*deixo a borda do valor circular*/
  margin-top: 3%; /*Defino um espaçamento entre explore e o valor em reais*/
  font-family: sans-serif, arial; /*defino o tipo de letra do valor*/
  font-size: xx-large; /*defino que o tamanho da letra é grande*/
  color: rgb(26, 230, 26); /*defino o preço na cor verde*/
}
/*Fim da Formatação dos valores dos Cards*/

/*Inicio da Formatação do botão dos Cards*/
.card-saibamais {
  background-color: rgb(255, 255, 255);
  width: 140px; /*Defino a largura da imagem do card*/
  height: 60px; /*Defino a altura da imagem do card*/
  border-radius: 10%; /*Defino a borda do botão*/
  margin-top: 3%; /*Defino um espaçamento entre explore e o valor em reais*/
}
#imgbotaosaibamais {
  width: 140px; /*Defino a largura da imagem do card*/
  height: 60px; /*Defino a altura da imagem do card*/
  border-radius: 10%; /*Defino a borda do botão*/
  margin-top: 3%; /*Defino um espaçamento entre explore e o valor em reais*/
}
/*Fim da Formatação do botão dos Cards*/

.button {
  padding-bottom: 2%;
  background-color: rgb(255, 255, 255);
  margin-left: 50%;
}
/* Fim da Estilização de aside*/

/*Inicio da Formatação do footer*/
footer {
  background: rgb(161, 255, 200);
  grid-column-start: 1; /*Para dizer que o meu footer inicia na linha 1*/
  grid-column-end: 3; /*Para dizer que o meu footer termina na linha 3, e assim ele ocupará 100% do width*/
  grid-area: footer;
  height: 40vh;
}

/*Fim da Formatação do footer*/
.container-fluid {
  display: grid; /*Incrementando o CSS grid no site*/
  grid-template-columns: 3fr 1fr; /*Para incluir colunas, e dizendo que elas são flexiveis, por serem flex as colunas são divididas por iguais*/
  grid-template-rows: 20vh 70vh 10vh; /*Para incluir o tamanho de visão da altura das linhas*/
  grid-gap: 2px; /*Para incluir espaços entre as colunas*/
  grid-row-gap: 1px; /*Para incluir espaços entre as linhas*/
  grid-column-gap: 2px; /*Para incluir espaços entre uma coluna*/
  grid-template-areas: /*Para definir a area das colunas, elas devem ser usada nas classes dos elementos no CSS com a propriedade gird-area*/
    "header header"
    "main aside"
    "footer footer";
  max-width: 1440px;
}

/* Inicio da Configuração do Menu Hamburguer*/
@media (max-width: 999px) {
  /*Quando a tela for menor que este tamanho, nav list terá um position absolute*/
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 40vw;
    height: 92vh;
    background: rgba(0, 77, 30, 0.596);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
  .nav-list.active {
    transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Fim da Configuração do Menu Hamburguer*/
